body{
    background-color: aqua;
}

.rock-paper-scissor{
    display: flex;
    justify-content: center;
}

#images{
    height: auto;
    background-color: black;
    justify-content: space-between;
    padding: 50px;

}

#computer-hand{
    padding-right: 30px;
    height: 110px;
    animation-name: rotate1;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes rotate1 {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate:-45deg;
    }
    100%{
        rotate: 0deg;
    }
    
}

#human-hand{
    padding-left: 30px;
    height:110px;
    max-height: 100%;
    animation-name: rotate2;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes rotate2 {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate:45deg;
    }
    100%{
        rotate: 0deg;
    }
    
}